*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:var(--background);
color:var(--text);
min-height:100vh;
overflow-x:hidden;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}

img{
max-width:100%;
display:block;
}

video{
max-width:100%;
display:block;
}

button{
cursor:pointer;
border:none;
outline:none;
background:none;
}

input,
textarea,
select{
font:inherit;
outline:none;
}

a{
text-decoration:none;
color:inherit;
}

ul,
ol{
list-style:none;
}

.hidden{
display:none !important;
}

.container{
width:100%;
margin:0 auto;
}


.postPreview{
    line-height:1.6;
    color:#333;
    margin-top:8px;

    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3; /* Change to 1, 2, or 3 lines */
    overflow:hidden;
    text-overflow:ellipsis;

    word-break:break-word;
}


