body{
margin:0;
background:#000;
font-family:Poppins,sans-serif;
overflow:hidden;
}

.reelsTopBar{
position:fixed;
top:0;
left:0;
right:0;
height:60px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 20px;
color:#fff;
z-index:999;
background:linear-gradient(rgba(0,0,0,.6),transparent);
}

.reelsTopBar button{
background:none;
border:none;
color:#fff;
font-size:24px;
cursor:pointer;
}

#reelsContainer{
height:100vh;
overflow-y:scroll;
scroll-snap-type:y mandatory;
}

#reelsContainer::-webkit-scrollbar{
display:none;
}

.reelCard{
height:100vh;
position:relative;
scroll-snap-align:start;
background:#000;
}

.reelVideo{
width:100%;
height:100%;
object-fit:cover;
}

.reelInfo{
position:absolute;
left:15px;
bottom:90px;
color:#fff;
width:70%;
z-index:20;
}

.reelInfo h3{
margin-bottom:8px;
font-size:18px;
}

.reelInfo p{
font-size:14px;
line-height:1.5;
}

.reelActions{
position:absolute;
right:15px;
bottom:90px;
display:flex;
flex-direction:column;
align-items:center;
gap:20px;
z-index:20;
}

.reelActions button{
background:none;
border:none;
color:#fff;
font-size:30px;
cursor:pointer;
}

.reelActions span{
font-size:13px;
color:#fff;
}

.reelAvatar{
width:55px;
height:55px;
border-radius:50%;
border:3px solid #fff;
object-fit:cover;
}



.heartAnimation{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%) scale(0);

font-size:70px;

pointer-events:none;

opacity:0;

transition:.3s;

z-index:100;

}

.heartAnimation.show{

transform:translate(-50%,-50%) scale(1.2);

opacity:1;

}


.reelCard{

position:relative;

overflow:hidden;

}