.uploadPage{

padding:30px;

display:flex;

justify-content:center;

}

.uploadCard{

width:100%;

max-width:500px;

display:flex;

flex-direction:column;

gap:20px;

}

#previewVideo{

width:100%;

border-radius:15px;

background:#000;

max-height:500px;

}

#videoFile{

padding:15px;

border:1px solid #ddd;

border-radius:10px;

}

#caption{

height:120px;

padding:15px;

resize:none;

border-radius:10px;

border:1px solid #ddd;

font-family:Poppins,sans-serif;

}

#uploadBtn{

padding:15px;

border:none;

border-radius:12px;

background:var(--primary);

color:#fff;

font-size:16px;

font-weight:600;

cursor:pointer;

}

